{% extends "base.html" %}

{% block page_title %}Строения{% endblock %}

{% block content %}
    {% include "building/filters_form__base.html" with filters_form=filters_form %}

    {% include "theme_framework_dk/list/list/simple.html" with cols=3 item_template="theme_framework_dk/detail/left_img.html" items=models list_class="buildings" item_class="buildings__item" item_head_template="building/buildings-item__head.html" item_body_template="building/buildings-item__body.html" %}

    {% if is_paginated %}
        {% include "pagination.html" with paginator=page_obj%}
    {% endif %}
{% endblock %}
