{# Кнопка "Перезвоните мне" вместе с формой отправки заявки в виде модального окна. #}

<button class="btn-call-me btn btn-default" data-toggle="modal" data-target="#call-me-modal">Перезвоните мне</button>

<div class="modal fade" id="call-me-modal" tabindex="-1" role="dialog" aria-labelledby="call-me-modal__title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
        <h4 class="call-me-modal__title modal-title" id="call-me-modal__title">Перезвоните мне</h4>
      </div>

      <div class="modal-body">
          <form action="{% url "contact__call_me_save_ajax" %}" method="POST" accept-charset="utf-8">
              {{ form.media }}
              {{ form.as_p }}
              
              <input type="submit" value="Отправить"/>
          </form>
      </div>

    </div>
  </div>
</div>

