{% extends "base.html" %}

{% block page_title %}Дома{% endblock %}

{% block content %}
    {% include "building/residence/filters_form__base.html" with filters_form=filters_form %}

    {% include "theme_framework_dk/list/grid/simple.html" with cols=3 item_template="theme_framework_dk/detail/all_centered__img_top.html" items=models list_class="residences" item_class="residences__item" item_head_template="building/residence/residences-item__head.html" item_body_template="building/residence/residences-item__body.html" %}

    {% if is_paginated %}
        {% include "pagination.html" with paginator=page_obj%}
    {% endif %}
{% endblock %}
